@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(240, 247, 255, 0.15);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(180, 212, 252, 0.4);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-baseBackground-500;
  }
}

@layer components {
  .btn {
    @apply w-full max-w-xs rounded bg-themePrimary-400 py-2 font-roboto uppercase tracking-wide text-themePrimary-50 transition-all hover:bg-themePrimary-300 disabled:cursor-not-allowed  disabled:bg-themePrimary-600/50 disabled:text-themePrimary-50/40;
  }

  .btn-signin {
    @apply btn my-3 w-full border border-themePrimary-200 bg-transparent text-base hover:bg-themePrimary-300 hover:text-themePrimary-900 sm:w-64;
  }

  .navbar-menuitems {
    @apply flex h-8 cursor-pointer items-center justify-center px-5 font-ubuntu text-base text-themePrimary-50/60 hover:bg-themePrimary-300 hover:text-themePrimary-50;
  }

  .input {
    @apply block w-full select-none rounded-md border border-slate-300/20 bg-baseBackground-400 px-3 py-2 font-ubuntu text-sm text-themePrimary-50 placeholder-slate-400 shadow-sm focus:border-themePrimary-200 focus:outline-none focus:ring-1 focus:ring-themePrimary-300;
  }
}
